<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="../">Teacher</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ user === null ? 'New' : 'Edit' }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Teacher</h6>

        <form class="forms-sample" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" autocomplete="off" placeholder="Name" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" autocomplete="off" placeholder="surname" formControlName="surname">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" autocomplete="off" placeholder="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="company_id" class="form-label">Start date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     (dateSelect)="onDateSelect($event)"
                     name="dp" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-text" type="button" (click)="d.toggle()">
                <i class="feather icon-calendar icon-md text-muted"></i>
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Colour</label>
            <input class="form-control wd-150"
                   [(colorPicker)]="colour"
                   (colorPickerChange)="onColourChange($event)"
                   [style.background]="colour"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Text colour</label>
            <input class="form-control wd-150"
                   [(colorPicker)]="text_colour"
                   (colorPickerChange)="onTextColourChange($event)"
                   [style.background]="text_colour"/>
          </div>
          <div class="mb-3">
            <label for="company_id" class="form-label">Company</label>
            <select class="form-select" id="company_id" formControlName="company_id">
              <option *ngFor="let option of companies" [value]="option.id">{{option.name}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary me-2">Submit</button>
          <div class="btn btn-secondary" routerLink="../">Cancel</div>
        </form>
      </div>
    </div>
  </div>
</div>
